.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 150px; */
  height: 20vh;
  background-color: #3E54A2;
  padding: 1.5em;
  position: fixed;
  width: 100vw;
}

#tweeter-logo {
  font-family: 'Bungee';
  font-weight: 600;
  color: white;
  font-size: 32px;
}

.navbar-right-newtweet {
  color: white;
  display: inline-flex;
}

nav i {
  color: white;
  display: inline-block;
  margin: -15px 15px;
  animation: bottom-to-top 1s ease-in;
  animation-iteration-count: infinite;
}

@keyframes bottom-to-top {
  100% {
    margin-top: 0px;
  }
}

.write-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110px;
}

 @media only screen and (max-width: 767px) and (min-width: 400px) {
  .navbar-right-newtweet {
    font-size: 4vw;
  }
  .navbar {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  }
  #tweeter-logo {
    font-family: 'Bungee';
    font-weight: 600;
    color: white;
    font-size: 4vw;
  }
  .navbar-right-newtweet {
    color: white;
    position: sticky;
    margin: 0;
  }
  
  nav i {
    color: white;
    display: inline-block;
    margin: 0px 15px;
    animation: bottom-to-top 1s ease-in;
    animation-iteration-count: infinite;
  }
  
  @keyframes bottom-to-top {
    100% {
      margin-top: 10px;
    }
  } 
 }
