.container {
  display: flex;
  padding-top: 20vh;
  width: 75vw;
  flex-direction: column;
  margin: 1%
}

.container h2 {
  font-size: 2rem;
  margin-top: 1%;
}

#tweet-submission {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1%;
}

.tweet-text {
resize: none;
border: none;
border-bottom: 4px ridge;
background-color: #F1F2F6;
outline: none;
}

.tweet-underline {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1.3rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  padding-top: 1rem;
}

.tweet_btn {
  font-weight: bold;
  color: white;
  background-color: blue;
  font-family: "Bungee";
}

/* Below is the format for tweetinfo */
/* Below is the format for tweetinfo */
/* Below is the format for tweetinfo */
#tweets-container .tweet-box {
  margin: 2%;
  border: 2px solid grey;
}

#tweets-container footer {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

#tweets-container {
  width: 100%;
  margin: 1%;
}

#tweetcontent {
  border-bottom: 2px solid grey;
  width: 95%;
  padding: 1%;
  margin: 12px 12px;
}

#tweets-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}

#usericon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#usericon h3{
  margin-left: 2rem;
}

.error {
  font-family: 'Bungee';
  color: red;
  border: 2px solid red;
}

.icon:hover{
  cursor: pointer;
  color: red;
}



 @media only screen and (max-width: 1100px) and (min-width: 768px) {
  #tweets-container h3 {
    font-size: 3vw;
   }
   #tweets-container footer {
    font-size:2vw;
   }
   #tweetcontent {
    font-size: 2vw;
   }
 }

 @media only screen and (max-width: 767px) and (min-width: 400px) {
  #tweets-container h3 {
    font-size: 4vw;
   }
   #tweets-container footer {
    font-size:2vw;
   }
   #tweetcontent {
    font-size: 2vw;
   }
   .new-tweet {
    margin-top: 30vh;
   }
 }